.fullsize {
    display: flex;
    flex-wrap: wrap; /* 允许图片换行 */
    justify-content: space-around; /* 图片之间的间距 */
}

.fullsize img {
    max-width: calc(98% - 20px); /* 确保每行两张图片，留出间隔 */
    height: auto; /* 保持图片原始比例 */
    margin: 20px; /* 图片之间的间隔 */
}

.horizontal {
    display: flex;
    flex-wrap: wrap; /* 允许图片换行 */
    justify-content: space-around; /* 图片之间的间距 */
}

.horizontal img {
    max-width: calc(48% - 20px); /* 确保每行两张图片，留出间隔 */
    height: auto; /* 保持图片原始比例 */
    margin: 10px; /* 图片之间的间隔 */
}

.vertical {
    display: flex;
    flex-wrap: wrap; /* 允许图片换行 */
    justify-content: space-around; /* 图片之间的间距 */
}

.vertical img {
    max-width: calc(33% - 20px); /* 确保每行三张图片，留出间隔 */
    height: auto; /* 保持图片原始比例 */
    margin: 10px; /* 图片之间的间隔 */
}

/* 当屏幕宽度小于768px时 */
@media (max-width: 768px) {
    .vertical img {
        max-width: calc(48% - 20px); /* 双列显示，留出间隔 */
    }
    .horizontal img {
        max-width: calc(98% - 20px); /* 单列显示，留出间隔 */
    }
}
