/* styles.css */
.gallery {
    display: flex;
    flex-wrap: wrap; /* 允许图片换行 */
    justify-content: space-around; /* 图片之间的间距 */
}

.gallery img {
    max-width: calc(50% - 20px); /* 确保每行两张图片，留出间隔 */
    height: auto; /* 保持图片原始比例 */
    margin: 10px; /* 图片之间的间隔 */
}

/* 当屏幕宽度小于800px时 */
@media (max-width: 800px) {
    .gallery img {
        max-width: calc(100% - 20px); /* 单列显示，留出间隔 */
    }
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}